.galeria {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px
}

.kep {
    position: relative;
    height: 230px;
    border-radius: 10px;
}

.kep img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

.focimek {
    color: rgb(40, 40, 88);
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}