.video-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    margin-top: 40px;
}

.video-box {
    width: 48%;
    aspect-ratio: 16 / 9;
    position: relative;
    border: 0.4vw solid rgba(255, 196, 0, 0.4);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.video-box iframe,
.video-box video {
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    object-fit: cover;
}

.video-box:hover {
    transform: scale(1.006);
}

.megtalalsz {
    color: rgb(40, 40, 88);
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.map-wrapper {
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0.8;
}

.map-wrapper iframe {
    display: inline-block;
    max-width: 100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.map-wrapper:hover {
    transform: scale(1.006);
    opacity: 1;
}