body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
    line-height: 1.4;
    letter-spacing: 0.2px;

    background:
        linear-gradient(rgba(255, 255, 255, 0.45), rgba(255,255,255,0.45)),
        url(../images/hatterkep.jpg);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    border-radius: 10px;
    border: 0.4vw solid white !important;
    background:
        linear-gradient(rgba(255, 255, 255, 0.65), rgba(255,255,255,0.65)),
        url(../images/hatterkep-csoport.avif);
    padding: 10px;
    margin: 10px;
    color: rgb(40, 40, 88);
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;
    border: 0.4vw solid white !important;
    background:
        linear-gradient(rgba(255, 255, 255, 0.65), rgba(255,255,255,0.65)),
        url(../images/hatterkep-csoport.avif);
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul li.active {
    border-right: 5px solid rgb(255, 196, 0);
}

nav ul a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(71, 71, 71);
    transition: all 0.25s ease;
}

nav ul a:hover {
    color: rgb(255, 196, 0);
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    border: 0.2vw solid white !important;
    background:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.9)),
        url(../images/hatterkep-csoport.avif);
    padding: 15px;
    font-size: 1.2em;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    border: 0.4vw solid white !important;
    background:
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255,255,255,0.85)),
        url(../images/hatterkep-csoport.avif);
}